.container {
    position: relative;
    display: inline-block;
}

.icone {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.selector {
    width: 312px;
    height: 51px;
    padding: 16px;
    appearance: none;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background-color: #efefef;
    color: #1e1e1e;
    margin-bottom: 0.5rem;
}
